* {
    margin: 0;
    padding: 0;
    vertical-align: top;
    box-sizing: border-box;
}

h1 {
    padding: 10px;
    margin: 10px;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    border-collapse: collapse;
}

td {
    height:50px;
    width: 50px;
}