<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Checkerboard</title>

</head>

<body>
    <h1 style="background-color: {{box1}}; color: {{box}};">*** Checkerboard ***</h1>
    <table>
        <tbody>
            {% for i in range(0,row) %}
            <tr>
                {% for j in range(0,col) %}
                    {% if (i+j) % 2 == 0 %}
                <td style="background-color: {{box}};"></td>
                    {% else %}
                <td style="background-color: {{box1}};"></td>
                    {% endif %}
                {% endfor %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>

</html>